@model Identity.API.Quickstart.Account.LoginViewModel

<div class="my-auto">
    <div class="login-page">
        <div class="lead text-center">
            <img src="~/logo.svg" class="logo">
            <img src="" />
        </div>

        <partial name="_ValidationSummary" />

        <div class="row d-flex justify-content-center">

            @if (Model.EnableLocalLogin)
            {
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <form asp-route="Login">
                                <input type="hidden" asp-for="ReturnUrl" />

                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" placeholder="Enter Username" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                <button class="btn btn-dark py-3 w-100" style="background: #150B01;" name="button" value="login">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
